$link-color: #f60;

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

code {
	font: 13px/1 "Source Code Pro", Menlo, monospace;
}

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.hidden { display: none; }

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?42529123');
	src: url('../fonts/fontello.eot?42529123#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff2?42529123') format('woff2'),
		url('../fonts/fontello.woff?42529123') format('woff'),
		url('../fonts/fontello.ttf?42529123') format('truetype'),
		url('../fonts/fontello.svg?42529123#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'fontello';
		src: url('../font/fontello.svg?42529123#fontello') format('svg');
	}
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-home:before { content: '\e800'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook-squared:before { content: '\f308'; }

/* Spacing */
.post h1, h3, h4, h5, p, .post-body ul, ol, pre, .highlight {
margin-bottom: 20px;
}
.highlight {
	pre {
		margin-bottom: 0px;
		padding: 0.4em 0.4em 0.4em 0.1em;
		white-space: pre;
		overflow: auto;
	}
	td:first-child>pre {
		background: #333 !important;
		padding: 0.4em 0 0.4em 0.4em;
	}
}

/* Base */
html, body { height: 100%; }

body {
	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: white;
}

h1 {
	font-size: 30px;
	color: #222;
	font-weight: bold;
}

h2 {
	font: italic 19px/1.3em Georgia,serif;
	color: #bbb;
}

.profile #wrapper {
	padding: 20px 40px 0px;
	max-width: 800px;
	margin: 0 auto;
}

.profile #header {
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}

.profile #avatar {
	display: inline-block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.profile h1 {
	font-weight: 400;
	font-size: 20px;
	color: #222;
}

.profile h2 {
	font-size: 20px;
	font-weight: 300;
	color: #aaa;
	margin-top: 10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
}

nav.main-nav {
	padding: 20px 20px 0;

	/*max-width: 600px;*/
	/*width:100%;*/
	background: #fff;
	background: rgba(255,255,255,.90);
	margin: 0 auto;
	text-align: right;
	/*position: fixed;*/
	z-index: 100;
}

nav.main-nav a {
	top: 8px;
	right: 6px;
	margin-left: 18px;
	color: $link-color;
	font-size: 15px;
	line-height: 1.35;
	border-radius: 5px;

	&:first-child {
		margin-left: 0px;
	}
	&.cta {
		padding: 8px 10px;
		background-image: linear-gradient(red, #ff7d24);
		color: #fff;
	}
}

#wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 60px 40px 100px 40px;
}

#wrapper.home {
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 40px 20px 40px;
}

.home #avatar {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* Typography */
/*Accent color*/
a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
	text-decoration: none;
	color: $link-color;
}

p a { color: $link-color; }

/*Transitions*/
a,
#post-nav a,
#post-list a	{
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

ul, ol 	{
	margin: 0 20px 20px 20px;
	padding: 0;

	ul {
		margin-left: 30px;
	}
}
ul { list-style-type:circle; }
ol { list-style: decimal; }
li	{  list-style-position:outside; }

/* Line Height */
#post-body, p { line-height:1.7; }

b, strong {
	font-weight: 600;
	color: #1E2025;
}
em, i { font-style: italic; }

#title {
	display: inline-block;
	line-height: 100%;
	font-weight: 500;
	font-size: 19px;
	margin: 0;
	padding-bottom: 20px;
}

.description {
	float: right;
	font: italic 14px/1.4em Georgia,serif;
	color: #aaa;
}

.post header {
	text-align:center;
}

.post h1 {
	margin-bottom: 0px;
	color: #222;
	font: 300 32px/1.4em "Helvetica Neue", Helvetica,Arial,sans-serif;
}

.post h2 {
	font: 300 24px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #111;
}

.post h2.subtitle {
	margin-bottom: 40px;
	font: italic 19px/1.3em Georgia,serif;
	color: #bbb;
}

.post h2.headline {
	/*font: italic 22px/1.3em Georgia,serif;*/
	font: normal 13px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: -5px 0 40px 0;
	color: #b2b9be;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	/*margin-top: 15px;*/
	display: inline-block;
}

#post-list h2 {
	font: normal 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #aaa;
	max-width: 600px;
	margin-top: 2px;
}

h3, h4, h5 { color:#333; }

h3 { font-size:20px; font-weight: 400; }
h4 { font-size:16px; font-weight:bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 6px;
}

p.small {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
	text-align: center;
	margin-top: 20px;
}

blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee;
}

hr {
	display: block;
	border: none;
	height: 1px;
	margin: 40px auto;
	background: #eee;
}

pre	{
	white-space:pre-wrap;
	/*border: 1px solid #ddd;*/
	padding:20px;
	background-color:#fdfdfd;
	/*font-size:14px;*/
	overflow:auto;
	background: #272b2d;
	font-family: 'Source Code Pro',Menlo,monospace;
	font-size: 13px;
	line-height: 1.5em;
	font-weight: 500;
	color: #d0d4d7;
}

table {
	width: 100%;
	margin: 0;
	border-collapse: collapse;
	font-size: 13px;
	line-height: 1.5em;
}

.table-wrapper {
	margin: 10px 0px 20px 0px;
	overflow-x: auto;
}

th,td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr>td {
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

.highlight tr>td {
	background: none;
}

thead th,th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}

img {
	max-width: 100%;
	border-radius: 3px;
}

/* Made with Cactus Badge */
#badge {
	position: absolute;
	bottom: 8px;
	right: 8px;
	height: 48px;
	width: 48px;
}

/*=========================================
Post List
=========================================== */
#archive-list {
	margin-top: 100px;
}

#post-list {
	margin-bottom: 0;
}

#post-list li,#archive-list li {
	border-top: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	list-style-type: none;
	margin-bottom: 0;
}

#post-list li:last-child {
	border-bottom: 1px solid #eee;
}

#post-list a {
	color: #333;
	display: block;
	font: bold 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#post-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #bbb;
	margin-left: 25px;
}

#post-list-footer {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 100px;
}

#archive-link {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	padding: 3px 10px 6px;
	box-shadow: 0 0 0 1px hsla(207,83%,80%,1);
}

#archive-link:hover {
	background: $link-color;
	color: #fff;
	box-shadow: 0 0 0 1px $link-color;
}

#archive-link span {
	position: relative;
	top: 0;
	font-size: 17px;
}

#footer {
	padding: 40px 0 0 0;
}

/* Post Page */
.post {
	margin: 80px 0 0 0;
}

#post-meta {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.4;
	border-top: 1px solid #eee;
	margin-bottom: 40px;
	padding: 20px 0 25px 0;
	margin-top: 40px;
	color:#444;
	border-bottom: 1px solid #eee;
}

/* Post Navigation */
#post-nav {
	text-align:center;
	font-size:13px;
	font-weight:500;
	margin-top: 20px;
}

#post-nav span {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}

#post-nav span.prev {
	float: left;
}

#post-nav span.next {
	float: right;
}

#post-nav span .arrow {
	position: relative;
	padding: 1px;
}

#post-nav span.prev:hover .arrow {
	left: -4px;
}

#post-nav span.next:hover .arrow {
	right: -4px;
}

#post-nav span.prev:hover {
	left: -3px;
}

#post-nav span.next:hover {
	right: -3px;
}

/* Archive */
h1.archive {
	margin-bottom: 0px;
}

h2.month {
	width: 100%;
	font: bold 13px/1 "Helvetica Neue",helvetica,Arial,sans-serif;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#archive-list li:last-child {
	margin-bottom: 0;
}

#archive-list a {
	display: block;
	font: bold 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #333;
}

#archive-list .dates {
	float: right;
	position: relative;
	top: 1px;
	font: 300 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: #bbb;
	margin-left: 25px;
}

#archive-list li a:hover,#archive-list li:hover .dates {
	color: $link-color;
}

#post-list.archive.readmore h3{
	font: 400 20px "Helvetica Neue", Helvetica,Arial,sans-serif;
	margin-bottom: 30px;
}

#post-list.archive.readmore a{
	font: 400 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
	color: $link-color;
}

#post-list.archive.readmore a:hover{
	opacity: 0.8;
}

#post-list.archive.readmore .dates{
	font: 300 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
}

#sharing {
	float: right;
	margin-bottom: 30px;
}

#sharing a.facebook {
	background: #4361b3;
}
#sharing a.twitter {
	background: #4fafed;
}
#sharing a.home {
	background: $link-color;
}

#sharing a {
	font-size: 20px;
	color: #fff;
	padding: 8px 0px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	margin-left: 5px;
	margin-top: 4px;
	display: inline-block;
	text-align: center;

	&:hover {
		opacity: 0.8;
	}
}

/* Media Queries */
@media screen and (max-width: 540px) {
	#wrapper { padding:20px 20px 20px 20px;}
	.post { margin: 40px 0; }

	#post-list, #archive-list { margin-top: 0; }
	#post-meta { margin-top: 60px; }

	#title { font-size: 17px; }
	#post-list .dates { display: none; }

	#post-list-footer { margin-top: 20px; padding-top: 40px; }

	h1 { font-size: 26px; }
	.post h2.headline { font-size: 13px; }
	.post h1 { font-size:24px; }
	.post h2 { font-size:20px; }
}

#disqus_loader {
	color: $link-color;
	background: none;
	border: 2px $link-color solid;
	width: 100%;
	padding: 8px 0px;
}

/* CUSTOM ADDITIONS */

a.symbol {
	color: #cdd4da;
	font-size: 2rem;
	text-decoration: none;
	margin-right: 0.3rem;
}

a.symbol:hover {
	color: #BCD4DA;
}

.mjpage__block {
	// for some reason mathjax sometimes makes svg slightly taller than it
	// should be, leading to slight vertical overflow for no reason
	overflow-x: auto;
	overflow-y: hidden;
}

#mc_embed_signup h1 {
	font-size: 24px;
	letter-spacing: inherit;
	font-weight: normal;
	margin-bottom: 10px;
}

#mc_embed_signup_scroll {
	display: flex;
	flex-wrap: wrap;

	#mce-EMAIL, #mc-embedded-subscribe {
		font-size: 16px;
		padding: 10px;
		border: 1px solid $link-color;
	}
	#mce-EMAIL {
		flex-grow: 100;
	}
	#mc-embedded-subscribe {
		flex-grow: 1;
		color: white;
		background: $link-color;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}
